.wtw-label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 24px;
  font-family: 'din-2014', sans-serif;
  font-weight: 550;
  font-style: normal;
  letter-spacing: 0.0099em;
  font-size: 16px;
}

.mat-form-field {
  display: block !important;
}

.wtw-error {
  display: flex !important;
  align-items: center;
  color: #af0016;
  font-size: 14px;
}

.wtw-form-field {
  margin-bottom: 12px;
}
